div.header__menu
    a.header__menu__item(href="#about_us")="О нас"
    a.header__menu__item(href="#services")="Услуги"
    a.header__menu__item(href="#careers")="Вакансии"
    a.header__menu__item(href="#news")="Новости"
    a.header__menu__item(href="#documentation")="Соглашения"